.App {
  text-align: center;
}

.App-logo {
  font-size: 30px;
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-player {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin : 30px;
}

.App-audioguide-sample{
  margin: 30px;
  width: 80px;
  height: 80px;
}

.App-buttons {
  margin-top: 30px;
  margin-bottom: 30px;
}

.App-buttons .btn {
  margin: 0 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
